@media (max-width:1000px) {
  .top {
    font-size: 60px;
  }
  .container {
    flex-wrap: wrap;
  }
  .contents-item {
    width: 50%;
  }
  footer {
    margin: 0 auto;
    height: 315px
  }
}
@media (max-width: 670px) {
  .main {
    background-image: url("./back0.jpg");
  }
  .top {
    font-size: 40px;
  }
  .container {
    flex-wrap: wrap;
  }
  .box {
    font-size: 40px;
  }
  .contents-item {
    width: 100%;
    margin: 0 auto;
  }
  .edw {
    position:relative;
    top: ;
  }
  .space-1 {
    margin-bottom: 50px;
  }
  footer {
    margin: 0 auto;
    height: 260px
  }
}
